.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  gap: 40px;
}

.error_message {
  display: block;
  color: var(--color-error);
}
