.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loader-circle {
  display: block;
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-color: #d1d2d6 #9fa0a5 #626368 #1a1b22;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
  position: relative;
  inset: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
