.loader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.loader-circle {
  position: relative;
  inset: 0;

  display: block;

  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid;
  border-color: #d1d2d6 #9fa0a5 #626368 #1a1b22;
  border-radius: 50%;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
