.card-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.card {
  padding: 15px;
  border-radius: 20px;
  background-color: var(--color-bg-elevated);
}

.image {
  width: 100%;
  border-radius: 20px;
}

.facts-title {
  padding-block: 15px;
}

.facts-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border: none;

  color: var(--text-primary-color);

  background-color: transparent;

  &:hover {
    color: var(--color-button-hover);
  }

  &:active {
    color: var(--color-button-active);
  }
}

.icon {
  display: block;

  width: 40px;
  height: 40px;

  background-color: currentcolor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.cross-icon {
  mask-image: url('/icons/cross-icon.svg');
}

.refresh-icon {
  mask-image: url('/icons/refresh-icon.svg');
}
