.footer {
  position: sticky;
  z-index: 1;
  bottom: 0;

  padding: 20px 100px;

  background-color: var(--color-bg-primary);
}

.link {
  transition: transform 120ms ease;
  cursor: pointer;

  &:hover {
    color: var(--color-light-blue);
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  &:active {
    transform: scale(0.96);
  }
}
