.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-bg-primary);
  padding: 40px 60px;
}

.title {
  font-size: 38px;
  color: var(--color-light-blue);
  padding: 10px 0;
}
.container {
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
}

.hint {
  font-size: 14px;
  color: var(--color-text-secondary);
}
