.container {
  width: 450px;
  background-color: var(--color-bg-primary);
  bottom: 61.5px;
  left: 100px;
  position: sticky;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0 var(--color-light-purple);
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
  padding: 10px 20px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: inherit;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--color-light-red);
  }

  &:active {
    color: var(--color-dark-red);
  }
}

.controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-block: 10px;
}
