.container {
  display: flex;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;

  color: var(--color-text-primary);

  background-color: transparent;

  &:hover {
    cursor: pointer;
    color: var(--color-accent-primary);
  }

  &:active {
    color: var(--color-accent-secondary);
  }
}
