:root {
  --color-error-primary: #ff4757;
  --color-error-secondary: #d00707;
}

:root[data-theme='dark'] {
  --color-bg-primary: #0b0c10;
  --color-bg-elevated: #252840;
  --color-text-primary: #eee;
  --color-text-secondary: #b4b4b4;
  --color-text-placeholder: #606060;
  --color-border: #723792;
  --color-button-hover: #e093ff;
  --color-button-active: #b73ef1;
  --color-accent-primary: #c44dff;
}

:root[data-theme='light'] {
  --color-bg-primary: #fffcfd;
  --color-bg-elevated: #eff0f3;
  --color-text-primary: #1e1f24;
  --color-text-secondary: #80828d;
  --color-text-placeholder: #b9bbc6;
  --color-border: #eeaac5;
  --color-button-hover: #ffdbe9;
  --color-button-active: #f5bdd3;
  --color-accent-primary: #c44dff;
}

@font-face {
  font-family: Nunito;
  src: url('./assets/fonts/Nunito-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Nunito, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
